<%= render 'partial/navbar' %>
<div class="container">

    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
              <div class="text-center">
                  <span style="font-size:24px;">Edit</span>
              </div>
          </div>

          <div class="panel-body">
            <%= form_for @student do |f| %>
            <div class="row">
              <div class="col-md-12 select">
                <div class="form-group">
                  <label>Name</label>
                  <%= f.text_field :name, {required: 'true', autofocus: 'true', class: 'form-control'} %>
                </div>
              </div>
            </div>

              <div class="row">
                <div class="col-md-12 select">
                  <div class="form-group">
                    <label>Gender</label>
                    <%= f.select :gender, [["Male","Male"],["Female","Femele"]], {prompt:"Select"}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 select">
                  <div class="form-group">
                    <label>Nationality</label>
                    <%= f.text_field :nationality, {required: 'true', autofocus: 'true', class: 'form-control'} %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 select">
                  <div class="form-group">
                    <label>Enlollment Date</label>
                    <%= f.text_field :enlollment_date, {required: 'true', autofocus: 'true', class: 'form-control'} %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 select">
                  <div class="form-group">
                    <label>Working place</label>
                    <%= f.text_field :work_place, {required: 'true', autofocus: 'true', class: 'form-control'} %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 select">
                  <div class="form-group">
                    <label>Occupation</label>
                    <%= f.text_field :occupation, {required: 'true', autofocus: 'true', class: 'form-control'} %>
                  </div>
                </div>
              </div>

              <div class="actions">
                  <%= f.submit "Update", class: "btn btn-danger" %>
              </div>
                 <% end %>
      </div>
    </div>
  </div>
</div>
