

<%= render "partial/navbar" %>

<h3 class="col-md-6 col-md-offset-3 text-center">Sutudent list</h3>



          <div class="col-md-6 col-md-offset-3 text-center">
             <div class="row">
               <section>
            <img src= "<%= "/student_images/#{@student.image_name}" %>">     
          <h4> <%= @student.name %></h4>
        <h5> Vivixx Academy | <%= @student.enlollment_date %> ~ <br>
           | <%= @student.gender %> | <%= @student.nationality %> | <%= @student.work_place %>
           | <%= @student.occupation%>
        </h5>



        <div class="student-menus">
          <%= link_to("Edit", "/students/#{@student.id}/edit") %>
          <%= link_to("Delet", "/students/#{@student.id}/destroy", {method: "student"}) %>
        </div>
      </section>
    </div>
  </div>
